body {
  background-color: gold;
}

h1 {
  color: red;
}

.notDevoured ul {
  background-color: ivory;
}

.devoured {
  overflow-y: auto;
}

/* form {
  display: block;
  width: 33%;
} */
/* .formRow {
  display: block;
  width: 100%;
}

.formArea {
  display: block;
  width: 40%;
  background-color: purple;
} */
