body {
  background-color: gold;
}

h1 {
  color: purple;
  font-variant: small-caps;
  font-weight: 900;
}
span {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* responsive burger img sizing */
#burgerPng {
  width: 30%;
  height: 70%;
}
h2 {
  color: black;
  font-style: italic;
  text-underline-position: below;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* allow scroll bars to appear when there are a lot of burgers */
.devoured,
.notDevoured {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 25% 10%;
}
